body{
  background-color: rgba(1, 14, 8, 0.822);
  color: white;
  text-align: center;
}

.footer{
  font-size: 1.15em;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer > div > div > a > img{
  width: 35px;
}

.linked-list {
  display: flex;
  align-items: center;
}

.node{
  display: flex;
  align-items: center;
}

.nodeValue {
  text-align: center;
  background-color: #f8f9fa;
  color: black;
  font-size: 1.2em;
  font-weight: 550;
  border: 1px solid #343a40;
  padding: 11px;
  width: 210px;
  margin: 5px;
  border-radius: 5px;
  align-items: center;
}

.nodeValue > button{
  margin: 6px;
}

.arrow {
  margin-left: 10px;
  margin-right: 10px;
}

.valueInput{
  padding: 9px;
  width: 200px;
  border-radius: 18px;
  margin: 0 13px;
  background-color: #0000005e;
  color: white;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.397);
  border: none;
}
.addButton{
  padding: 9px;
  width: 70px;
  border-radius: 18px;
  margin: 0 13px;
  border: none;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.317);
  font-weight: 550;
  font-size: 1.1em;
  color: black;
  background-color: white;
  transition: background-color 0.5s;
}

.addButton:hover{
  background-color: rgb(74, 222, 34);
}