body{
  background-color: rgba(8, 9, 32, 0.806);
  color: white;
  text-align: center;
}

.footer{
  font-size: 1.15em;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer > div > div > img{
  width: 30px;
}

/* App.css */
.linked-list {
  display: flex;
  align-items: center;
}

.node {
  background-color: #f8f9fa;
  color: black;
  border: 1px solid #343a40;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.arrow {
  margin-left: 10px;
  margin-right: 10px;
}
