body{
  background-color: rgba(1, 14, 8, 0.822);
  color: white;
  text-align: center;
}

.footer{
  font-size: 1.15em;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer > div > div > a > img{
  width: 35px;
}

.linked-list {
  display: flex;
  align-items: center;
}

.node{
  display: flex;
  align-items: center;
}

.nodeValue {
  text-align: center;
  background-color: #f8f9fa;
  color: black;
  font-size: 1.2em;
  border: 1px solid #343a40;
  padding: 11px;
  width: 130px;
  margin: 5px;
  border-radius: 5px;
  align-items: center;
}

.valueText{
  font-size: 1.21em;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px 39px;
}

.deleteNode{
  transition: background-color 0.4s, color 0.4s;
}
.deleteNode:hover{
  background-color: rgba(175, 0, 0, 0.852);
  color: white;
}

.modifyValue{
  transition: background-color 0.4s, color 0.4s;
}
.modifyValue:hover{
  background-color: rgba(15, 0, 175, 0.852);
  color: white;
}

.nodeValue > button{
  margin: 6px;
  background-color: rgba(0, 0, 0, 0.405);
  color: rgb(0, 0, 0);
  font-size: 1.16em;
  border-radius: 5px;
  width: 40px;
  border: 2px solid black;
}

.arrow {
  margin-left: 10px;
  margin-right: 10px;
}

.valueInput{
  padding: 9px;
  width: 310px;
  border-radius: 20px;
  margin: 0 13px;
  background-color: #0000005e;
  color: white;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.397);
  border: 1px solid white;
}
.addButton, .insertHeadButton{
  padding: 9px;
  width: 140px;
  border-radius: 18px;
  margin: 0 13px;
  border: none;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.317);
  font-weight: 550;
  font-size: 1.1em;
  color: black;
  background-color: white;
  transition: background-color 0.5s;
}

.addButton:hover{
  background-color: rgb(74, 222, 34);
}
.insertHeadButton:hover{
  background-color: rgb(74, 222, 34);
}

.staticHead, .nullNode{
  text-align: center;
  background-color: #f8f9fa;
  color: black;
  font-size: 1.2em;
  border: 1px solid #343a40;
  padding: 11px;
  width: 130px;
  margin: 5px;
  border-radius: 5px;
  align-items: center;
}